<header class="header">
  <h1 class="header-title">{{ title }}</h1>
  <span class="header-date">
    Article publié le <time datetime="{{ publishedAt }}">{{ publishedAt | date }}</time></span> - <a class="header-back" href="/">Retour à l'accueil</a>
</header>