---
layout: 'layouts/base.njk'
---

{% include 'layouts/article-header.njk' %}

<main>
  <article class="article-body">
    {% image featuredImage, alt %}

    {{ content | safe }}
  </article>
</main>