<!DOCTYPE html>
<html lang="fr">
	<head>
		{% include 'layouts/head.njk' %}
	</head>
	<body>
		<div class="site">
			{{ content | safe }}
			{% include 'layouts/footer.njk' %}
		</div>
	</body>
</html>
