<footer class="footer">
  <p>Site construit avec <a href="https://www.11ty.dev/">Eleventy</a>. Le code source de cette page est disponible et éditable sur <a href="https://github.com/bellangerq/maps/blob/master/{{ page.inputPath }}">GitHub</a>.</p>
</footer>