<footer class="footer">
  <p>Site construit avec <a href="https://www.11ty.dev/">Eleventy</a> et hébergé sur <a href="https://www.netlify.com/">Netlify</a>.</p>
  <p>Le code source est disponible sur <a href="https://github.com/bellangerq">GitHub</a>.</p>
</footer>