<header class="header">
  <h1 class="header-title" aria-label="{{ site.title }}">M🗻ps</h1>
  <p class="header-subtitle">
    J'apprends à dessiner des cartes de mondes fantastiques à base de forêts, de montagnes, de marécages ou de cavernes... Approchez du feu, prenez à boire et installez-vous confortablement.
  </p>
</header>