<header class="header">
  <h1 class="header-title" aria-label="JDR">
    {% include 'layouts/logo.njk' %}
  </h1>
  <p class="header-subtitle">
    Maître du donjon débutant, je raconte mes aventures de jeu de rôle. Approchez du feu, prenez à boire et installez-vous confortablement.
  </p>
</header>