---
layout: 'layouts/base.njk'
---

{% include 'layouts/home-header.njk' %}

<main class="site-main">
  <ul class="articles">
    {% for article in collections.article %}
    <li>
      <article class="article">
        <h2 class="article-title">
          <a href="{{ article.url }}">{{ article.data.title }}</a>
        </h2>
        <span class="article-date">Article publié le <time datetime="{{ publishedAt }}">{{ article.data.publishedAt }}</time></span>

        {% if article.data.featuredImage %}
          <img loading="lazy" class="article-image" src="{{ article.data.featuredImage }}" alt="{{ article.data.alt }}" />
        {% endif %}
      </article>

    </li>
    {% endfor %}
  </ul>
</main>