<header class="header">
  <h1 class="header-title">
    <img src="../../images/logo.svg" alt="Maps">
  </h1>
  <p class="header-subtitle">
    Je dessine des cartes de mondes fantastiques à base de forêts, de montagnes, de marécages ou de cavernes... Approchez du feu, prenez à boire et installez-vous confortablement.
  </p>
</header>